.Carousel {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.normalDot{
  cursor: pointer;
}

.selectedDot{
  cursor: pointer;
  /*font-size: 25px;*/
  color: red;
}
  .aside, .main{
    flex-shrink: 1;
  }
  .main { 
    order: 2;
    border: 2px solid black;
  }
  .aside-1 { 
    text-align: right;
    order: 1; 
  }
  .aside-2 { 
    text-align: left;
    order: 3;
  }

.dot-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.dot{
  flex:0 1 auto;
}

.below{
  order: 99;
  flex-grow: 1;
  min-width:100%;
  text-align: center;
}