.Carousel {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.normalDot{
  cursor: pointer;
}

.selectedDot{
  cursor: pointer;
  /*font-size: 25px;*/
  color: red;
}

.photowrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
/* We tell all items to be 100% width */
  .main { 
    order: 2;
    border: 2px solid black;
  }
  
  .aside-1 { 
    order: 1; 
  }
  .aside-2 { 
    order: 3;
  }

.dot-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.dot{
  flex-grow: 1;
}